@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer utilities {
  .glow-white {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff,
      0 0 82px #fff, 0 0 92px #fff, 0 0 102px #fff, 0 0 151px #fff;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100svw;
  height: 100svh;
  background-image: linear-gradient(
      to top,
      transparent 50%,
      rgba(255, 255, 255, 1) 85%
    ),
    url("./assets/imgs/BackgroundImage.webp");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  will-change: transform;
}

@media (max-width: 768px) {
  body {
    background-position: 75% 0;
  }
}

#root {
  margin: 0;
  padding: 0;
  width: 100svw;
  height: 100svh;
}

* {
  box-sizing: border-box;
}
