@import "tailwindcss";
@import "./assets/theme/theme.css";

html {
  scrollbar-gutter: stable both-edges !important;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      to top,
      transparent 50%,
      rgba(255, 255, 255, 1) 85%
    ),
    url("./assets/imgs/BackgroundImage.webp");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  will-change: transform;
}

@media (max-width: 768px) {
  body {
    background-position: 75% 0;
  }
}

#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

* {
  scrollbar-gutter: stable both-edges !important;
  box-sizing: border-box;
}
